.blind{
    position: absolute;   
    width: 1px;height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    margin: -1px;
}

.wrap{
    max-width: inherit;
    margin: 0 6.5%;
}

.hide {
    display: none;
}